<div class="container">
  <h1>How to use?</h1>
  <br>

  <p>Welcome in my Generator! Here you can learn about how to use it properly. </p>
  <h4>Basics - just click it!</h4>

  <p>
    This orange-like rectangle with monster name in it is called <b>Tag</b>. If you want to change them, <b>just click
    them!</b></p> <br>

  <p>
    <img class="gif" src="../../../assets/howtouse/reroll_normal.gif" height="172" width="556" alt="No gif :("/>
  </p>
  <br>

  <p>You can also click Tag with <b>right mouse button</b> to reveal menu with more options!</p>

  <h4>Constant Tags</h4>
  <p> There are special kind of tags called <b>Constant Tags</b>. Their superpower is that if you change one of them -
    every other changes too. You can guess what Tags are linked by the same color of border.</p>

  <p>
    <img class="gif" src="../../../assets/howtouse/reroll_constant.gif" height="172" width="556"/>
  </p> <br>

  <h4>Nested Tags</h4>

  <p> It is also common for Tags to be nested inside other Tags. You can click Parent-Tag to reroll it, along with all
    Children-Tags!</p>

  <p>
    <img class="gif" src="../../../assets/howtouse/reroll_nested.gif" height="172" width="556"/>
  </p> <br>

  <p>Aaaaand that's it! Simple, right? There are some more options and even more ideas to develop, but for now... Just
    enjoy the Generator :) </p>

  <button routerLink="/" mat-menu-item>
    <mat-icon>whatshot</mat-icon>
    <span>Take me back to the Generator!</span>
  </button>

  <br>
  <br>
  <br>
  <br>
  <br>


</div>
