<div class="container">
  <h1>About</h1>
  <br>

  <h4>Our Mission</h4>
  <p>
    Our mission is to deliver inspiration for stories in order to help Game Masters all around the globe.
  </p>

  <h4>Contact</h4>
  <p>
    Don’t hesitate to contact me if you have any suggestions on how to improve generator.
  </p>
  <p>
    via e-mail: lukaszdutka2@gmail.com <br>
    via github:
    <a href="https://github.com/lukaszdutka/">https://github.com/lukaszdutka/</a><br>
  </p>

  <h4>Special thanks to:</h4>
  <p>
    My girlfriend, for patience <br>
    My thesis supervisor, for being my mentor <br>
    My friends, for testing and support <br>
  </p>

</div>
